.header{
  background-color: black;
}
.headerContainer{
  max-width: 900px;
  margin: 0 auto;
  padding: 30px 0;
  justify-content: space-between;
  align-items: center;
  
}
.headerLogo{
  color: white;
  font-size: 40px;
  font-weight: 700;
  text-align: end;
}
.navbar{
  display: flex;
   align-items: center; 
  /* justify-content: center; */
  gap: 20px;

}
.navbarLink{
  color: white;
  text-decoration: none;
  /* padding-left: 30px; */
  padding-left: 20px;
  
}